.bigday-container {
  // background-color: lightblue;

  .hotels {
    .cards {
      display: flex;
      .card {
        margin: 10px;
      }
    }
  }
}

/* Google Maps styling */
.map-container {
  .maps-embeded {
    width: 100vh;
    height: 400px;
  }
  .subtitle {
    font-weight: 100;
    font-size: small;
  }

  .marker-title {
    font-weight: 800;
  }
}

@media (max-width: 600px) {
  .bigday-container {
    width: 40vh;
    .hotels {
      .cards {
        display: block;
      }
    }
  }

  /* Google Maps styling */
  .map-container {
    .maps-embeded {
      width: 100%;
    }
  }
}

@media (min-width: 1025px) {
  .bigday-container {
    //width: 40vh;
    .hotels {
      .cards {
        display: block;
      }
    }
  }

  /* Google Maps styling */
  .map-container {
    .maps-embeded {
      width: 100%;
    }
  }
}
