@import url("https://fonts.cdnfonts.com/css/vogue");
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=GFS+Didot&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {
  background-image: url("/src/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* Optional: for a parallax-like effect */
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(10px); /* Apply the blur effect */
  z-index: -1;
}

/*To hide the scroll bar but still be able to scroll*/
body::-webkit-scrollbar {
  display: none;
}

/* USED TO REMOVE BLUR by adding .no-blur class*/
.no-blur::before {
  backdrop-filter: none;
}

.ant-drawer .ant-drawer-body {
  overflow: hidden !important;
}


.homepage-container {
  position: relative; /* Needed for the absolute positioning of the pseudo-element */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-height: 100vh; */
  padding-top: 400px;
}



.title-container {
  background-color: rgba(228, 220, 239, 0.8); /* Increase opacity for better contrast */
  color: white;
  width: 50%;
  /*
  margin-top: 800px;
  margin-bottom: 100px;
  */
  padding: 40px 20px;
  display: flex;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7em;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Enhanced for better legibility */
}

.rsvp-button {
  background-color: #f3e5f5; /* Soft, pale lavender for a delicate, thematic appearance */
  border: 2px solid #a8b2a1; /* Slightly thicker border for more definition */
  color: #535d35; /* Deep green for contrast and readability */
  font-family: "GFS Didot", "Libre Caslon Text", serif; /* Switch to a more elegant, wedding-appropriate font */
  font-size: 1rem; /* Increase font size for better legibility */
  padding: 12px 24px; /* More generous padding for a larger, more clickable area */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Updated for subtle animation effects */
  border-radius: 10px; /* Slightly larger radius for a softer, more modern look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Deeper shadow for a subtle 3D effect */
  display: inline-block; /* Ensure button text is centered and allows for transform */
  text-transform: uppercase; /* Optional: Adds a stylistic touch */
  letter-spacing: 1px; /* Increase letter spacing for a more distinguished look */
  outline: none; /* Remove the outline to clean up focus states */
  margin: 100px;
}

.rsvp-button:hover, .rsvp-button:focus {
  background-color: #e4dcef; /* Lighter on hover/focus for interactive feedback */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover/focus for a "lifted" effect */
  transform: translateY(-2px); /* Slight upward movement on hover/focus for interactivity */
  border-color: #9ca8a1; /* Slightly darker border on hover/focus for contrast */
}
.honeymoon-container {
  background-color: #b2a4d485;
  color: white;
  width: 80%;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
 font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

#mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

#mainNavigation a {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.nav-item a {
  color: #dfdfdf;
  background-color: #535d3556;
}

.nav-item a:hover {
  color: #fff;
}

.nav-item {
  min-width: 12vw;
}
    
