@import url("https://fonts.cdnfonts.com/css/vogue");
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=GFS+Didot&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.cdnfonts.com/css/delicate");
@import url("https://fonts.cdnfonts.com/css/witches-friend-script");
@import url("https://fonts.cdnfonts.com/css/emmeline");
@import url("https://fonts.cdnfonts.com/css/rakelyn");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-image: url("/src/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* Optional: for a parallax-like effect */
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(10px); /* Apply the blur effect */
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/*To hide the scroll bar but still be able to scroll*/
body::-webkit-scrollbar {
  display: none;
}
.route-container::-webkit-scrollbar {
  display: none;
}

/* USED TO REMOVE BLUR by adding .no-blur class*/
.no-blur::before {
  backdrop-filter: none;
  background: rgba(0, 0, 0, 0);
}

.ant-drawer .ant-drawer-body {
  overflow: hidden !important;
}

.homepage-container {
  position: relative; /* Needed for the absolute positioning of the pseudo-element */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-height: 100vh; */
  padding-top: 400px;
}

.title-container {
  background-color: rgba(
    228,
    220,
    239,
    0.8
  ); /* Increase opacity for better contrast */
  color: white;
  width: 50%;
  /*
  margin-top: 800px;
  margin-bottom: 100px;
  */
  padding: 40px 20px;
  display: flex;
  font-family: "Rakelyn", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7em;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 8px rgb(255, 255, 255); /* Enhanced for better legibility */
}

#mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

#mainNavigation a {
  font-family: "Emmeline", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.navbar-toggler {
  border: 0 !important;
}

.nav-item a {
  color: #dfdfdf;
  background-color: #535d3556;
}

.nav-item a:hover {
  color: #fff;
}

.nav-item {
  min-width: 12vw;
}

.rsvp-container {
  background-color: rgba(24, 66, 24, 0.39); /* Semi-transparent lavender for a soft overlay */
  width: 50%;
  height: auto; /* Adjusted for content size */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Centers children horizontally in the container */
  justify-content: flex-start; /* Aligns children to the start of the container */
}

.rsvp-container p {
  color: #2f3031; /* Dark grey for better readability */
  font-family: "Libre Baskerville", serif;
  font-size: large;
  background-color: rgb(255, 255, 255); /* Light overlay for readability */
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  text-align: center;
  height: 45%;
  text-shadow: #181818;
line-height: 2;
}

.rsvp-container p p {
  text-align: right;
  width: 100%;
  background: none;
  box-shadow: none;
}

.rsvp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Emmeline", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.rsvp-button:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.rsvp-button:active,
.rsvp-button:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.story-container {
  background-image: url(./assets/images/texture4.jpg);

}

.timeline {
  position: relative;
  padding: 20px 0;
  width: 100%;
  margin-top: 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ffffff;
}

.timeline-item {
  position: relative;
  width: 50%;
  max-width: 40%;
  padding: 10px 40px;
  box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
  left: 10%;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

.timeline-item .timeline-content {
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-family: "Emmeline", sans-serif;
  text-align: center;
}

.timeline-item .timeline-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Adjustments for small screens */
@media (max-width: 600px) {
  .app-wrapper {
    position: relative; /* Needed to correctly position the pseudo-element */
    background-image: url("/src/assets/images/bg.jpg");
    background-position: center center; /* Center the background image */
    background-size: cover; /* Cover the viewport without stretching the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 90vh; /* Minimum height of 100% of the viewport height */
    width: 100%; /* Full width */
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  .app-wrapper::before {
    content: ""; /* Required for the pseudo-element to be generated */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; /* Use the same background as the parent */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    /* Apply the blur effect */
    filter: blur(8px);
    /* Ensure the pseudo-element doesn’t block interaction with the content */
    z-index: -1;
  }
  #mainNavigation {
    position: relative;
  }
  .route-container {
    margin-top: 10px !important;
    max-height: 100% !important;
    overflow: visible !important;
  }

  .invert {
    /* TopBar image*/
    width: 100%;
  }
  .homepage-container {
    padding-top: 200px;
  }
  .timeline-item {
    width: 100%;
    max-width: 100%;
    left: 0 !important;
  }

  .timeline::before {
    left: 10px;
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.timeline-item:nth-child(odd) .timeline-content {
  animation: slideInFromLeft 1s ease-out;
}

.timeline-item:nth-child(even) .timeline-content {
  animation: slideInFromRight 1s ease-out;
}

/* Position the navbar container relatively */
.navbar-expand-md {
  position: relative;
  z-index: 2; /* Ensure it's above other content but below the dropdown */
}

/* Absolutely position the dropdown menu */
.navbar-collapse {
  position: absolute;
  top: 100%; /* Position it right below the toggle button */
  left: 0;
  right: 0;
  z-index: 3; /* Ensure it appears above the navbar and other content */
}

.btn-presence {
  position: relative;
  padding: 15px 45px;
  /*background: #fec195;*/
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  cursor: pointer;
 /* border: 1px solid #fec195;*/
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  font-family: "Emmeline", sans-serif;
}

.btn-presence:hover {
  /*border: 1px solid #f3b182;*/
  /*background: linear-gradient(
    85deg,
    #fec195,
    #fcc196,
    #fabd92,
    #fac097,
    #fac39c
  );*/
  animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

.icon-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

.btn-presence:hover .icon-1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon-2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(129, 69, 69, 0.5));
}

.icon-1, .icon-2, .icon-3 {
  fill: #839f83;
}

.btn-presence:hover .icon-2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

.btn-presence:hover .icon-3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

