@import url("https://fonts.cdnfonts.com/css/vogue");
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=GFS+Didot&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.cdnfonts.com/css/delicate');
@import url('https://fonts.cdnfonts.com/css/witches-friend-script');
@import url('https://fonts.cdnfonts.com/css/emmeline');
@import url('https://fonts.cdnfonts.com/css/rakelyn');

body {
  background-image: url("/src/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* Optional: for a parallax-like effect */
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(10px); /* Apply the blur effect */
  background: rgba(0, 0, 0, 0.3); 
  z-index: -1;
}

/*To hide the scroll bar but still be able to scroll*/
body::-webkit-scrollbar {
  display: none;
}
.route-container::-webkit-scrollbar {
  display: none;
}

/* USED TO REMOVE BLUR by adding .no-blur class*/
.no-blur::before {
  backdrop-filter: none;
  background: rgba(0, 0, 0, 0); 
}

.ant-drawer .ant-drawer-body {
  overflow: hidden !important;
}


.homepage-container {
  position: relative; /* Needed for the absolute positioning of the pseudo-element */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-height: 100vh; */
  padding-top: 400px;
}



.title-container {
  background-color: rgba(228, 220, 239, 0.8); /* Increase opacity for better contrast */
  color: white;
  width: 50%;
  /*
  margin-top: 800px;
  margin-bottom: 100px;
  */
  padding: 40px 20px;
  display: flex;
  font-family: 'Rakelyn', sans-serif;  
  font-weight: 400;
  font-style: normal;
  font-size: 7em;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 8px rgb(255, 255, 255); /* Enhanced for better legibility */
}

#mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123;
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.486) 0%, rgba(0, 0, 0, 0.274) 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mainNavigation a {
  font-family: 'Rakelyn', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #8F9092; /* Soft grey for a delicate touch */
  padding: 15px; /* Slightly larger for touch targets */
}

.navbar-toggler {
  border: 1px solid #e8e4d0; /* Pastel green border */
  background-color: #afaf83; /* Beige background */
  color: #606060;
}

.nav-item a {
  color: #8F9092; /* Soft grey */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white for readability */
  display: block;
  margin: 5px 0; /* Adjusted for spacing */
}

.nav-item a:hover {
  color: #e8e4d0; /* White text */
  background-color:#e8e4d0;/* Pastel green background */
}

.nav-item {
  padding: 5px 0;
}

.rsvp-container {
  background-color: rgba(248, 247, 255, 0.9); /* Semi-transparent lavender for a soft overlay */
  width: 75%;
  height: auto; /* Adjusted for content size */
  margin: 2vh auto 30px; /* Centered with vertical margin */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
   display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Centers children horizontally in the container */
  justify-content: flex-start; /* Aligns children to the start of the container */
}

.rsvp-container p  {
  color: #8F9092; /* Dark grey for better readability */
  font-family: 'Rakelyn', sans-serif;
  font-size: xx-large;
  background-color: rgba(255, 255, 255, 0.6); /* Light overlay for readability */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  text-align: center;

}

.rsvp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: 'Rakelyn', sans-serif;  
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}




.rsvp-button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.rsvp-button:active,
.rsvp-button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

    

.timeline {
  position: relative;
  padding: 20px 0;
  width: 100%;
  margin-top:20px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ddd;
}

.timeline-item {
  position: relative;
  width: 50%;
  max-width: 40%;
  padding: 10px 40px;
  box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
  left: 10%;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

.timeline-item .timeline-content {
  position: relative;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.timeline-item .timeline-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Adjustments for small screens */
@media (max-width: 600px) {
  .timeline-item {
    width: 100%;
    max-width: 100%;
    left: 0 !important;
  }

  .timeline::before {
    left: 10px;
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.timeline-item:nth-child(odd) .timeline-content {
  animation: slideInFromLeft 1s ease-out;
}

.timeline-item:nth-child(even) .timeline-content {
  animation: slideInFromRight 1s ease-out;
}
